;; Analyzed by ClojureScript 1.7.228
{:name audio-utils.devcards.ring-buffer, :doc nil, :excludes #{}, :use-macros {deftest devcards.core, dom-node devcards.core, defcard devcards.core}, :require-macros {devcards.core devcards.core}, :uses {plot-buffers audio-utils.viz, ring-buffer audio-utils.ring-buffer, linear-distribution audio-utils.viz}, :requires {devcards.core devcards.core, audio-utils.ring-buffer audio-utils.ring-buffer, audio-utils.viz audio-utils.viz}, :imports nil, :cljs.analyzer/constants {:seen #{:path :func :name :audio_utils.devcards.ring_buffer :documentation :card :main-obj :initial-data :options :heading}, :order [:path :func :audio_utils.devcards.ring_buffer :card :name :documentation :main-obj :initial-data :options :heading]}}